.seats {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    background-color: blueviolet;
    flex-wrap: wrap;
    padding: 20px;
}

.seat {
    border-top-left-radius : 8px;
    border-top-right-radius : 8px;
    width: 18%;
    height: 20px;
    background-color: black;
    margin: 1px;
    color: white;
}

.selected {
    background-color: blue;
    color:black;
}

.occupied {
    background-color: white;
    color: black;
}