html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(86, 15, 119);
}
header {

}

.screen-container {
    background-color: white;
    width: 200px;
    height: 100px;
    line-height: 100px;
    margin: 10px;
}
.movie_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.seats {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    background-color: blueviolet;
    flex-wrap: wrap;
    padding: 20px;
    
}

.seat {
    border-top-left-radius : 8px;
    border-top-right-radius : 8px;
    width: 18%;
    height: 20px;
    background-color: black;
    margin: 1px;
    color: white;
}

.selected {
    background-color: blue;
    color:black;
}

.occupied {
    background-color: white;
    color: black;
}

.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(150, 92, 204);
}

.ticket {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ticket.html */
.ticket-img {
    width: 500px;
    height: 500px;
    background-image: url("img/ticket.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.ticket-content{
    position: absolute;
    color: white;
}

.content {
    display: block;
    justify-content: center;
}

/* @media screen and (max-width: 650px) { 
    body { background-color: rgb(86, 15, 119); }
    
    .content{
        width: 650px;
        height: 650px;
    }   
} */


